.page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: orange;
    border-color: #eaeaea;
}

.page-link {
    position: relative;
    display: block;
    color: orange;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}