
<div class="d-flex justify-content-center align-items-center pt-5 mt-3"> <button style="background-color: orange; border-radius: 20px;" class="btn btn-dark">OUR CATEGORIES</button> </div>
<div class="d-flex justify-content-center mt-3 pb-5"> <strong class="text text-center">Find Our Latest Products</strong> </div>
<div class="row mt-3">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Latest products</h5>
        <owl-carousel-o [options]="autoPlayExampleOptions">
          <ng-template carouselSlide *ngFor="let slide of slidesStore" [id]="slide.id">
            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"
             style="height:167px ; width: 265px; border-radius: 5px;">
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>