<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2  class="btn btn-warning">Who Are We?</h2><br>
      <h4> <b> CriteoStores powers millions of businesses worldwide
          The all-in-one commerce platform to start, run, and grow a business. </b> </h4><br>
      <p> <b> The first Criteo store was our own </b>
        Over a decade ago, we started a store to sell snowboards online. None of the ecommerce solutions at the time
        gave us the control we needed to be successful—so we built our own. Today, businesses of all sizes use Shopify,
        whether they’re selling online, in retail stores, or on-the-go.</p>
      <a class="btn btn-outline-warning  " routerLink="/contact" routerLinkActive="active">Get in touch</a>
    </div>
    <div class="col-sm-4">

      <img src="../../assets/images/SHOP.png" class="w-100" alt="Store">
      <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <i class="fa-solid fa-earth-americas fa-10x text-warning text-xl-center logo "></i>
      <!-- <span class="glyphicon glyphicon-globe logo slideanim text-warning"></span> -->
    </div>
    <div class="col-sm-8">
      <h2 class="btn btn-warning">Our Values</h2><br>
      <h4><strong class="text-warning">MISSION:</strong> <b> Making commerce better for everyone </b> We help people achieve independence by
        making it easier to start, run, and grow a business. We believe the future of commerce has more voices, not
        fewer, so we’re reducing the barriers to business ownership to make commerce better for everyone. </h4><br>
      <p><strong class="text-warning">VISION:</strong> To be Earth’s most customer-centric company, where customers can find and discover
        anything they might want to buy online.

      </p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2 style="text-decoration:underline ;">SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row ">
    <div class="col-sm-4">

      <i class="fa-solid fa-shield text-center fa-4x text-warning  "></i>
      <h4 class="pt-4">Secure Shopping & Payment</h4>

    </div>
    <div class="col-sm-4">

      <i class="fa-solid fa-truck-fast text-center fa-4x text-warning "></i>
      <h4 class="pt-4">Shipping & Returns</h4>

    </div>
    <div class="col-sm-4">

      <i class="fa-solid fa-headset text-center fa-4x text-warning"></i>
      <h4 class="pt-4">Online Support</h4>

    </div>
  </div>
  <br><br>
  <div class="row ">
    <div class="col-sm-4">

      <i class="fa-solid fa-cart-flatbed text-center fa-4x text-warning"></i>
      <h4 class="pt-4">Order Protection </h4>

    </div>
    <div class="col-sm-4">

      <i class="fa-solid fa-box-open text-center fa-4x text-warning"></i>
      <h4 class="pt-4"> Track Your Order </h4>

    </div>
    <div class="col-sm-4">

      <i class="fa-solid fa-gift text-center fa-4x text-warning"></i>
      <h4 class="pt-4"> Promotion Gift</h4>

    </div>

  </div>
</div>
<!-- <div class="about-section bg-dark">
    <h1>About Us Page</h1>
    <p><strong>Sigma Computer </strong> Computer is a company specializing in retail and wholesale electronics including
        laptops, computers and accessories.

    </p>
    <p>Sigma Computer has been established since 2005 in Egypt. It is engaged in wholesale sale, Sigma as a first stage
        and retailing for more than 14 years in Egypt.</p>
</div>
<br>

<h2 style="text-align:center;text-decoration: underline;">Our Team</h2>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/images/team1.jpeg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="text-muted">jane@example.com</p>
                <p><button class=" btn  btn-outline-warning w-100">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/images/team2.jpeg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="text-muted">mike@example.com</p>
                <p><button class="btn  btn-outline-warning w-100">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/images/team3.jpeg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="text-muted">john@example.com</p>
                <p><button class="btn  btn-outline-warning w-100">Contact</button></p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="about-section bg-dark ">
    <h1 class="text-center">Why Choose Us </h1>

</div>
<br>

<div class="row  ">
    <div class="col">
        <div class="card pt-2">
            <i class="fa-solid fa-shield text-center fa-4x text-warning  "></i>
            <hr>
            <div class="container">
                <h3 class="title text-center">Secure Shopping & Payment</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card pt-2">
            <i class="fa-solid fa-truck-fast text-center fa-4x text-warning "></i>
            <hr>

            <div class="container">
                <h3 class="title text-center">Shipping & Returns</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card pt-2">
            <i class="fa-solid fa-headset text-center fa-4x text-warning"></i>
            <hr>

            <div class="container">
                <h3 class="title text-center">Online Support</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card pt-2">
            <i class="fa-solid fa-cart-flatbed text-center fa-4x text-warning"></i>
            <hr>
            <div class="container">
                <h3 class="title text-center">Order Protection</h3>
            </div>
        </div>
    </div>

</div> -->